<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <p>Cari Cari is a DIY duo, consisting of Stephanie (Vocals, Drums & Didgeridoo) and Alexander (Vocals & Guitar). They are based in Europe, having lived  in London, Hamburg & Vienna. The duo has been baptised "the lovechild of The Kills and The XX" (IndieShuffle) "with a pinch of Morricone" (FM4) and "the raw grit of Cat Power" (BestBefore). Their songs “White Line Fever” and “No War” were used in the Hollywood productions “Shameless” and “The Magicians” while their single 'Nothing's Older Than Yesterday' lead to excessive touring and performances at renowned festivals such as “Primaverasound barcelona” (ES), “The Great Escape” (UK), “Eurosonic Noorderslag” (NL) and “MELT!” (DE).</p>
    <div id = "linkContainer">
        <ul id = "linkList">
           <li><a id = "home" href="/">Home</a></li>
           <li><a id = "music" href="/music">Music</a></li>
           <li><a id = "gallery" href="/gallery">Gallery</a></li>
        </ul>
       </div>
       <div id="spacer"></div>

       <script src="/linkAbout.js"></script>
</body>
</html>