<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Gallery</title>
</head>
<body>
    <h1>Gallery</h1>

    <div id="imageContainer">
        <img class="gallery" src="/images/93966D72-7DBD-4E67-805A-12FBD3E684BD.jpg">
        <img class="gallery" src="/images/CariCari.webp">
        <img class="gallery" src="/images/210826_JAJ_CARICARI_TENERIFE_0276.jpg">
    </div>
    <div id="imageContainer">
        <img class="gallery" src="/images/20221111_CariCari_435_bs_TheaDrexhage.jpg">
        <img class="gallery" src="/images/d3872439297e87c8296bfc2814b39c8fa95c4ff1.jpeg">
        <img class="gallery" src="/images/4099885176661.jpg">
    </div>

    <div id = "linkContainer">
        <ul id = "linkList">
           <li><a id = "home" href="/">Home</a></li>
           <li><a id = "about" href="/about">About</a></li>
           <li><a id = "music" href="/music">Music</a></li>
        </ul>
       </div>
       <div id="spacer"></div>

       <script src="/linkGallery.js"></script>
</body>
</html>