<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Music</title>
</head>
<body>
    <h1>Music</h1>
    <div id="songBox"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4FAa8SQhqNlZeFj913kIdx?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
    <div id="songBox"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/20RzArTj8t5exuBbnszRLz?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
    <div id="songBox"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3CUd4oB20LXnoWlzQDxTgy?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
    <div id = "linkContainer">
        <ul id = "linkList">
           <li><a id = "home" href="/">Home</a></li>
           <li><a id = "about" href="/about">About</a></li>
           <li><a id = "gallery" href="/gallery">Gallery</a></li>
        </ul>
       </div>
    <div id="spacer"></div>

    <script src="/linkMusic.js"></script>
</body>
</html>